<% @meal_hash.each do |day, totals| %>
  <div class="stats">
    <strong><%= day %></strong>
    <% totals.each do |type, val| %>
      <p><strong style="color: #fff"><%= type %>: </strong><%= val %></p>
    <% end %>
  </div>
<% end %>
